<h1>Grusskarte</h1>


<section class="container">
  <div class="postcard">
    <figure class="front">
      <div class="photo">
        <%= image_tag "foto_tobi.JPG", class: "image_kids", title: "Bild von Tobias" %>
      </div>

      <form id="form_tobi">
        <p>In welcher Stadt wohnt Tobi Tobson?</p>
        <fieldset>
          <input type="radio" id="answer1" name="frage_tobi" value="wrong"><label for="answer1">Bamberg</label><br>
          <input type="radio" id="answer2" name="frage_tobi" value="wrong"><label for="answer2">Freiburg</label><br>
          <input type="radio" id="answer3" name="frage_tobi" value="right"><label for="answer3">Hamburg</label><br>
        </fieldset>
      </form>
    </figure>

    <figure class="back">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </figure>
  </div>
</section>


<section class="container">
  <div class="postcard">
    <figure class="front">
      <div class="photo">
        <%= image_tag "IMG_8144.JPG", class: "image_kids", title: "Bild von Tobias" %>
      </div>

      <form id="form_tobi">
        <p>In welcher Stadt wohnt Tobi Tobson?</p>
        <fieldset>
          <input type="radio" id="answer1" name="frage_tobi" value="wrong"><label for="answer1">Bamberg</label><br>
          <input type="radio" id="answer2" name="frage_tobi" value="right"><label for="answer2">Freiburg</label><br>
          <input type="radio" id="answer3" name="frage_tobi" value="wrong"><label for="answer3">Hamburg</label><br>
        </fieldset>
      </form>
    </figure>

    <figure class="back">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </figure>
  </div>
</section>


<section class="container">
  <div class="postcard">
    <figure class="front">
      <div class="photo">
        <%= image_tag "IMG_8456.JPG", class: "image_kids", title: "Bild von Tobias" %>
      </div>
      <form id="form_tobi">
        <p>In welcher Stadt wohnt Tobi Tobson?</p>
        <fieldset>
          <input type="radio" id="answer1" name="frage_tobi" value="wrong"><label for="answer1">Bamberg</label><br>
          <input type="radio" id="answer2" name="frage_tobi" value="wrong"><label for="answer2">Freiburg</label><br>
          <input type="radio" id="answer3" name="frage_tobi" value="right"><label for="answer3">Hamburg</label><br>
        </fieldset>
      </form>
    </figure>

    <figure class="back">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.</p>
    </figure>
  </div>
</section>

<section class="container">
  <div class="postcard">
    <figure class="front">
      <div class="photo">
        <%= image_tag "landscape.jpg", class: "image_kids", title: "Bild von Tobias" %>
      </div>
      <form id="form_tobi">
        <p>In welcher Stadt wohnt Tobi Tobson?</p>
        <fieldset>
          <input type="radio" id="answer1" name="frage_tobi" value="wrong"><label for="answer1">Bamberg</label><br>
          <input type="radio" id="answer2" name="frage_tobi" value="wrong"><label for="answer2">Freiburg</label><br>
          <input type="radio" id="answer3" name="frage_tobi" value="right"><label for="answer3">Hamburg</label><br>
        </fieldset>
      </form>
    </figure>

    <figure class="back">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </figure>
  </div>
</section>
